.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 50%;
    max-height: 90%;
    background-image: url('/nuochoa.jpg');
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
    margin-top: 6%;
}

/* Tablet */
@media (max-width: 1024px) {
    .banner {
        height: 50vh;
        min-height: 45%;
        max-height: 80%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .banner {
        height: 40vh;
        min-height: 40%;
        max-height: 75%;
    }
}

/* Mobile nhỏ */
@media (max-width: 480px) {
    .banner {
        height: 35vh;
        min-height: 35%;
        max-height: 70%;
    }
}