.toolBar {
    color: white;
    display: flex;
    justify-content: space-between;
}

.direction {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.app-bar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 16px 0;
    background-color: rgba(0, 102, 66, 0.7);
    backdrop-filter: blur(16px);
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-icon-box {
    display: block;
  }
  
  @media (min-width: 900px) { /* md breakpoint */
    .menu-icon-box {
      display: none;
    }
  
    .hotline {
      display: flex;
      align-items: center;
    }
  
    .menu-links {
      display: flex;
    }
  
    .search-box {
      display: block;
    }
  }
  
  .icon-box {
    display: flex;
    align-items: center;
  }
  
  .hotline-icon {
    margin-right: 8px;
  }
  
  .link {
    color: white;
    text-decoration: none;
  }
  
  .drawer-list {
    width: 250px;
  }
  
  .drawer-link {
    color: black;
    text-decoration: none;
    width: 100%;
  }
  